<!DOCTYPE html>
<html data-ng-app="scrumApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css">
	<title>
		Scrum Model
	</title>
</head>
<body>
	<div class="container" data-ng-controller="ScrumAppCtrl">
		<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
    			<!-- <div class="navbar-header">
      				<a class="navbar-brand">Scrum Model</a>
    			</div> -->
    			<div>
      				<ul class="nav navbar-nav">
        				<li><a><h4>Scrum Model</h4></a></li>
        				<li><a href="/story"><h4>User Stories</h4></a></li>
        				<li><a href="/sprint"><h4>Sprint</h4></a></li>
        				<li class="right" style="position:absolute;right:120px;" data-toggle="modal" data-target="#status"><a href="#" ><h4>Project Status</h4></a></li>
        				<li class="right" style="position:absolute;right:20px;"><a href="/logout"><h4>Sign Out</h4></a></li>
      				</ul>
    			</div>
  			</div>
		</nav>

        <div class="modal fade" id="status" tabindex="-1" role="dialog" aria-labelledby="lstatus" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              	 <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="lstatus">Project Status</h4>
              </div>
              <div class="modal-body">
                <label>Expected Points:&nbsp;&nbsp; {{expectedPoints}}</label></br>
                <label>Actual Points:&nbsp;&nbsp; {{actualPoints}}</label></br>
                <label>Projected Completion Date&nbsp;(dd/mm/yyyy):&nbsp;</label><h5 style="color:blue">{{completionDate}}</h5>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <br>"&nbsp;"</br>
                    <br>"&nbsp;"</br>
                    <br>"&nbsp;"</br>
                </button>
		<h4>This page lists all the user stories.</h4>
		<h5 data-ng-show="userStoryList.length > 0"><span style="color:red;"/>Note: 'Edit/Delete' options are disabled for the stories that are completed.</h5>
		<p data-placement="top" title="Add Story"><button data-target="#addStory" data-toggle="modal" class = "btn btn-info pull-right"><span class="glyphicon glyphicon-plus" ></span> Add Story</button></p>
	<div data-ng-show="userStoryList.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>User Story</th>
					<th>Acceptance Criteria</th>
					<th>Comments</th>
					<th>Points</th>
					<th>Cost</th>
					<th>Days</th>
					<th>Sprint</th>
					<th>Status</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>	
			<tbody>
				<tr data-ng-repeat = "userStory in userStoryList">
					<td>{{userStory.userStory}}</td>
					<td>{{userStory.acceptanceCriteria}}</td>
					<td>{{userStory.comments}}</td>
					<td>{{userStory.points}}</td>
					<td>${{userStory.points * 30}}</td>
					<td>{{userStory.points/3 | number:2}}</td>
					<td>{{userStory.sprintId}}</td>
					<td><span>{{userStory.userStoryStatus == 2 ? 'Assigned & Completed' : 'Assigned'}}</span></td>
					<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class = "btn btn-danger form-control" data-ng-click = "removeStory(userStory._id)" data-ng-disabled = "(userStory.userStoryStatus == 2)"><span class="glyphicon glyphicon-trash"></span> Delete</button></p></td>
					<td>
						<p title = "edit"><button data-target="#edit" data-toggle="modal" data-ng-click = "editStory(userStory._id)" class = "btn btn-warning form-control" data-ng-disabled = "(userStory.userStoryStatus == 2)"><span class="glyphicon glyphicon-edit"></span> Edit</button></p></td>
				</tr>
			</tbody>
		</table>
	</div>
		<div data-ng-show="userStoryList.length <= 0"><h4><span class = "glyphicon glyphicon-thumbs-down" style ="color:red;font-family:helvetica">&nbsp;Currently, there are no user stories to display, click on 'Add Story' button to create new stories.</span></h4></div>

    <div class="modal fade" id="addStory" tabindex="-1" role="dialog" aria-labelledby="lstatus" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="lstatus">Enter the Story details below:</h4>
            </div>
            <div class="modal-body">
            	<form name="storyForm">
              		<label>User Story*: </label><div role="alert">
                  		<span style="color:red" class="error" data-ng-show="storyForm.story.$error.required">
                  		Required field*</span>
                	</div><input class="form-control" name="story" data-ng-model = "story.userStory" required></br>
              		<label>Acceptance Criteria:&nbsp; </label><input class="form-control" data-ng-model = "story.acceptanceCriteria"></br>
              		<label>Comments: </label><input class="form-control" data-ng-model = "story.comments"></br>
              		<label>Points*: </label><div role="alert">
                  		<span style="color:red" class="error" data-ng-show="storyForm.points.$error.required">
                  		Required field*</span>
                	</div><input class="form-control" name = "points" type = "number" min = 1 data-ng-model = "story.points" required></br>
              		<label>Sprint:&nbsp;<span style="color:red;font-size:11px"/> (completed sprints are disabled for selection)</label><select data-ng-model = "story.sprintId" data-placement = "top" class="selectpicker form-control" data-style="btn-success" required><option data-ng-repeat = "sprint in sprintIdList" ng-disabled = "(sprint.sprintStatus == '2')">{{sprint.sprintId}}</option></select></br>
              		<label>Cost: ${{story.points * 30}}</label></br>
              		<label>Days: {{story.points/3 | number:2}}</label>
          		</form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-ng-click = "" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span>
              </button>
              <button type="button" data-ng-disabled = "!storyForm.story.$valid || !storyForm.points.$valid" class="btn btn-primary" data-ng-click = "addStory()" data-dismiss="modal"><span class="glyphicon glyphicon-ok-circle"></span>
              </button>
            </div>
          </div>
        </div>
      </div>

	  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="lstatus" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="lstatus">Edit the Story details below:</h4>
            </div>
            <div class="modal-body">
              <form name = "editForm">
                <label>User Story*: </label><div role="alert">
                      <span style="color:red" class="error" data-ng-show="editForm.story.$error.required">
                      Required field*</span>
                  </div><input class="form-control" name = "story" data-ng-model = "userStory.userStory" required></br>
                <label>Acceptance Criteria:&nbsp; </label><input class="form-control" data-ng-model = "userStory.acceptanceCriteria" required></br>
                <label>Comments: </label><input class="form-control" data-ng-model = "userStory.comments" required></br>
                <label>Points*: </label><div role="alert">
                      <span style="color:red" class="error" data-ng-show="editForm.points.$error.required">
                      Required field*</span>
                  </div><input class="form-control" name = "points" type = "number" min = 1 data-ng-model = "userStory.points" required></br>
                <label>Sprint:&nbsp;<span style="color:red;font-size:11px;"/> (completed sprints are disabled for selection)</label><select data-ng-model = "userStory.sprintId" data-placement = "top" class="selectpicker form-control" data-style="btn-success" required><option data-ng-repeat = "sprint in sprintIdList" ng-disabled = "(sprint.sprintStatus == 2)">{{sprint.sprintId}}</option></select></br>

                <label>Cost: ${{userStory.points * 30}}</label></br>
                <label>Days: {{userStory.points/3 | number:2}}</label></br>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-ng-click = "" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span>
              </button>
              <button type="button" class="btn btn-primary" data-ng-disabled = "!editForm.story.$valid || !editForm.points.$valid" data-ng-click = "updateStory()" data-dismiss="modal"><span class="glyphicon glyphicon-ok-circle"></span>
              </button>
            </div>
          </div>
        </div>
      </div>

	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/controller.js"></script>
</body>
</html>
