<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multitenant</title>
     <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
  </head>
  <body>
  <div ng-app="task" ng-controller="taskCtrl">
    <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-LI-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-LI-navbar-collapse-1">
              <div class="col-md-6">
                <h1 style="color:white;padding-left:25px;">Waterfall Model</h1>
              </div>
              <div class="col-md-6">
                <ul class="nav navbar-nav header-nav pull-right">
                  <li><a href="/logout"><h4>Sign Out</h4></a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="nav navbar-nav header-nav pull-left">
                  <li data-toggle="modal" data-target="#project"><a href="#"><h4>{{projectname}}</h4></a>
                  </li>
                  <li><a href="/waterfall"><h4>Tasks</h4></a>
                  </li>
                  <li><a href="/resource"><h4>Resource</h4></a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="nav navbar-nav header-nav pull-right">
                  <li data-toggle="modal" data-target="#status"><a href="" ng-click="getStatus()" ><h4>Project Status</h4></a>
                  <li><a href="" ng-click="saveProject()" ><h4>Save Project</h4></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <h3 ng-show="edit">Add Task:</h3>
      <h3 ng-hide="edit">Edit Task:</h3>

      <form class="form-horizontal" name="taskForm">
        <div class="form-group">
          <label class="col-md-2 control-label">Task Name</label>
          <div class="col-md-4">
            <textarea rows="3" class="form-control" name="taskName" ng-model="task.name" placeholder="Enter the Task Description" required></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Start Date</label>
          <div class="col-md-4">
              <input type="date" class="form-control" name="taskStart" ng-model="task.startDate"  placeholder="Enter the Start Date of Task" required/>
            </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Finish Date</label>
          <div class="col-md-4">
              <input type="date" class="form-control" name="taskEnd" ng-model="task.endDate" placeholder="Enter the End Date of Task (Optional)"/>
            </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Planned Hours</label>
          <div class="col-md-4">
            <input type="number" class="form-control" name="taskPlannedHours" ng-model="task.plannedHours" min="1" placeholder="Enter the hours Planned for the task" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Resource</label>
          <div class="col-md-4">
            <input type="email" class="form-control" name="taskRsc" ng-model="task.resource" placeholder="Enter the Resource Email Address" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Comments</label>
          <div class="col-md-4">
            <textarea rows="3" class="form-control" name="taskComment" ng-model="task.comments" placeholder="Enter the Comments (Optional)"/></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Actual Hours</label>
          <div class="col-md-4">
            <input type="number" class="form-control" name="taskActualHours" ng-model="task.actualHours" min="0" placeholder="Enter the number of hours worked on task (Optional)"/>
          </div>
        </div>
        <hr>
          <button type="submit" class="btn btn-success" ng-click="addRow()" ng-disabled="taskForm.$invalid">
            <span class="glyphicon glyphicon-save"></span> Save
          </button>
          <button class="btn btn-success" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove"></span> Cancel
          </button>
          <div ng-show = "updateshow">
            <button class="btn btn-success pull-right" ng-click="update()">
              <span class="glyphicon glyphicon-upload"></span> Update
            </button>
        </div>
      </form>
      <br><br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Task Name</th>
            <th>Start Date</th>
            <th>Finish Date</th>
            <th>Planned Hours</th>
            <th>Resource</th>
            <th>Comments</th>
            <th>Actual Hours</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="wtask in tasks">
            <td>{{$index + 1}}</td>
            <td>{{ wtask.name }}</td>
            <td>{{ wtask.startDate }}</td>
            <td>{{ wtask.endDate }}</td>
            <td>{{ wtask.plannedHours }}</td>
            <td>{{ wtask.resource }}</td>
            <td>{{ wtask.comments }}</td>
            <td>{{ wtask.actualHours }}</td>
            <td>
              <button class="btn btn-primary" ng-click="editTaskById(wtask._id)">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
              </button>
            </td>
            <td>
              <button class="btn btn-primary" ng-click="removeTask(wtask._id)">
                <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <br><br>
    </div>

    <div class="modal fade" id="project" tabindex="-1" role="dialog" aria-labelledby="lprojectname" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="lprojectname">Project Properties</h4>
          </div>
          <div class="modal-body">
            <label>Project Name</label>
            <br>
            <input type="text" name='projectname' ng-model="projectname" class="form-control"/>
            <br>
            <label>Start Date</label>
            <input type="date" class="form-control" name="projectStart" ng-model="startDateProject"  placeholder="Enter the Start Date of Project" required/>
            <br>
            <label>Finish Date</label>
           <input type="date" class="form-control" name="projectEnd" ng-model="endDateProject"  placeholder="Enter the End Date of Project" />
          </div>
          <div class="modal-footer">
            <button type="button" ng-click="updateproject()" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default" ng-click="clearProject()" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="status" tabindex="-1" role="dialog" aria-labelledby="lstatus" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="lstatus">Project Status</h4>
          </div>
          <div class="modal-body">
            <label>{{percentage}}</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
 <script type="text/javascript" src="javascripts/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="angular/angular.min.js"></script>
   
    <script>
      var app = angular.module('task', []);
      app.controller('taskCtrl', function($filter,$scope,$http) {
        //alert('hi');
        $scope.edit = true;
        $scope.task = {};
         $scope.projectTasks=[];
        $scope.updateshow = false;
        var tenantid;
        var id=1;
        
       var refresh = function(){
        $http.get("/getTaskList")
        .success(function(response){
  			$scope.tasks = response.doc;
  			$scope.tenantid = response.tenantid;
  			 $scope.edit = true;
         $scope.updateshow = false;
  			}).error(function(error){
  				alert(error);
  			});
      };

      refresh();
      
      $scope.saveProject = function() {
        if($scope.projectname == "Untitled"){
          alert('Project name cannot be untitled');
        }
        else{
          alert('Project Saved Successfully!!!');
        }
      };
      
      $scope.editTaskById = function(id) {
        $scope.edit = false;
        $scope.updateshow = true;
        $http.get('/edittask/' + id).success(function(response){
          response.startDate=new Date(response.startDate);
          response.endDate =new Date(response.endDate);
          $scope.task = response;
        }).error(function(error){
						alert(error);
					});
      };
      
      $scope.update = function() {
         var start=new Date ($scope.task.startDate);
        var end=new Date ($scope.task.endDate);
        var today = new Date();
        if (start - today < 0){
          alert('Start date should be future date');
        }
        else if(start - end === 0){
          if ( $scope.task.plannedHours > 8){
              alert('Start date and Finish date cannot be save with planned hours more than 8');
            }
            else if( $scope.task.plannedHours <  $scope.task.actualHours){
              alert('Actual hours cannot be more than planned hours');
              }
          else{
            $http({
                method: 'POST',
                url: '/checkResource',
                data:{
                  "projectid": id,
                  "email": $scope.task.resource
                  }
                }).success(function(response){
                  if(response.length>0){
                      $http.post('/updatetask/' + $scope.task._id, $scope.task).success(function(response){
                      refresh();
                      $scope.task.name='';
                      $scope.task.plannedHours='';
                      $scope.task.startDate='';
                      $scope.task.endDate='';
                      $scope.task.resource='';
                      $scope.task.comments='';
                      $scope.task.actualHours='';
                      $scope.edit = true;
                      $scope.updateshow = false;
                     }).error(function(error){
    				            alert(error);
    			          });
                  }
                  else{
                    alert('Please check the resource,invalid resource email address');
                  }
                }).error(function(error){
						      alert(error);
					      });
              }
            }
        else if(start - end > 0){
          alert('Finish date cannot be less than start date');
        }
        else if( $scope.task.plannedHours <  $scope.task.actualHours){
          alert('Actual hours cannot be more than planned hours');
        }
        else{
         $http({
                method: 'POST',
                url: '/checkResource',
                data:{
                  "projectid": id,
                  "email": $scope.task.resource
                  }
                }).success(function(response){
                  if(response.length > 0){
                      $http.post('/updatetask/' + $scope.task._id, $scope.task).success(function(response){
                      refresh();
                      $scope.task.name='';
                      $scope.task.plannedHours='';
                      $scope.task.startDate='';
                      $scope.task.endDate='';
                      $scope.task.resource='';
                      $scope.task.comments='';
                      $scope.task.actualHours='';
                      $scope.edit = true;
                      $scope.updateshow = false;
                     }).error(function(error){
    				            alert(error);
    			          });
                  }
                  else{
                    alert('Please check the resource,incalid resource email address');
                  }
                }).error(function(error){
						      alert(error);
					      });
        }
      };

      $scope.removeTask = function(id){
         $http.get('/deletetask/' + id).success(function(response){
          refresh();
          $scope.task.name='';
          $scope.task.plannedHours='';
          $scope.task.startDate='';
          $scope.task.endDate='';
          $scope.task.resource='';
          $scope.task.comments='';
          $scope.task.actualHours='';
          $scope.edit = true;
          $scope.updateshow = false;
        }).error(function(error){
						alert(error);
					});
      };  

      $scope.addRow = function(){ 
       // alert($scope.task.startDate);
       //alert('hi1');
        var start=new Date ($scope.task.startDate);
        var end=new Date ($scope.task.endDate);
         var today = new Date();
         var data = {
          projectid: id,
          tenantid: $scope.tenantid,
           name:$scope.task.name,
            plannedHours:$scope.task.plannedHours,
            startDate:$scope.task.startDate,
            endDate:$scope.task.endDate,
            resource:$scope.task.resource,
           comments: $scope.task.comments,
            actualHours:$scope.task.actualHours
          };
        if (start - today < 0){
          alert('Start date should be future date');
        }
        else if(start - end === 0){
          if ( $scope.task.plannedHours > 8){
            alert('Start date and Finish date cannot be same with planned hours more than 8');
            }
            else if( $scope.task.plannedHours <  $scope.task.actualHours){
          alert('Actual hours cannot be more than planned hours');
        }
          else{
          $http({
                  method: 'POST',
                  url: '/checkResource',
                  data:{
                    "projectid": id,
                    "email": $scope.task.resource
                    }
                  }).success(function(response){
                    if(response.length > 0){
                        $scope.projectTasks.push(data);  
                        $http.post('/savetask', $scope.projectTasks).success(function(response){
                        refresh();
                        $scope.task.name='';
                        $scope.task.plannedHours='';
                        $scope.task.startDate='';
                        $scope.task.endDate='';
                        $scope.task.resource='';
                        $scope.task.comments='';
                        $scope.task.actualHours='';
                        $scope.edit = true;
                        $scope.updateshow = false;
                        $scope.projectTasks = []
                        }).error(function(error){
              						alert(error);
              					});
                    }
                    else{
                      alert('Please check the resource,invalid resource email address');
                    }
                  }).error(function(error){
  						      alert(error);
  					      });
              }
        }
        else if(start - end > 0){
          alert('Finish date cannot be less than start date');
        }
        else if( $scope.task.plannedHours <  $scope.task.actualHours){
          alert('Actual hours cannot be more than planned hours');
        }
        else{
          $http({
                  method: 'POST',
                  url: '/checkResource',
                  data:{
                    "projectid": id,
                    "email": $scope.task.resource
                    }
                  }).success(function(response){
                    if(response.length > 0){
                        $scope.projectTasks.push(data);  
                        $http.post('/savetask', $scope.projectTasks).success(function(response){
                        refresh();
                        $scope.task.name='';
                        $scope.task.plannedHours='';
                        $scope.task.startDate='';
                        $scope.task.endDate='';
                        $scope.task.resource='';
                        $scope.task.comments='';
                        $scope.task.actualHours='';
                        $scope.edit = true;
                        $scope.updateshow = false;
                        $scope.projectTasks = []
                        }).error(function(error){
              						alert(error);
              					});
                    }
                    else{
                      alert('Please check the resource,invalid resource email address');
                    }
                  }).error(function(error){
  						      alert(error);
  					      });
              }
      };
      
      $scope.getStatus = function() {
       $http.get("/getSumOfPlanned")
        .success(function(response){
          //alert(response[0].total);
  		    if(response[0].total > 0){
  		      //alert(response[0].total + "plannedHours")
  		      var totalPlanned = response[0].total;
  		       $http.get("/getSumOfActual")
             .success(function(response){
  		        if(response[0].total > 0){
  		           //alert(response[0].total + "actualHours")
  		        var totalActual = response[0].total;
  		        var percentagecomplete = Math.round((totalActual/totalPlanned)*100);
  		        //alert(percentagecomplete + "complete");
  		       $scope.percentage = "Project Completion is "+percentagecomplete + "%";
  		        }
  		        else{
  		          $scope.percentage = "Project Completion is "+0 + "%";
  		        }
      			}).error(function(error){
      				alert(error);
      			});
  		    }
  		    else{
  		      $scope.percentage = "Project Completion is "+0 + "%";
  		    }
  			}).error(function(error){
  				alert(error);
  			});
      };
      $scope.cancel = function(){ 
          $scope.task.name='';
          $scope.task.plannedHours='';
          $scope.task.startDate='';
          $scope.task.endDate='';
          $scope.task.resource='';
          $scope.task.comments='';
          $scope.task.actualHours='';
          $scope.edit = true;
          $scope.updateshow = false;
      };
      
       $scope.clearProject = function(){
            $http.get("/getProjectDetails")
            .success(function(response){
      		  $scope.projectname =response[0].projectname;
           $scope.startDateProject= new Date(response[0].projectstart);
          if (response[0].projectend == null){
                        $scope.endDateProject=response[0].projectend;
                     }
                     else{
                     $scope.endDateProject= new Date(response[0].projectend);}
      			}).error(function(error){
      				alert(error);
  			});
       };
       
       var saveProjectdetail = function(){
         $scope.projectname = "Untitled";
         $scope.startDateProject = new Date();
         $scope.endDateProject = "";
                $http({
                method: 'POST',
                url: '/saveProject',
                data:{
                  "projectid": id,
                  "tenantid":$scope.tenantid,
                "projectname": $scope.projectname,
                "projectstart": $scope.startDateProject,
                "projectend": $scope.endDateProject
                }
                }).success(function(response){
                     $scope.projectname =response.projectname;
                     $scope.startDateProject= new Date(response.projectstart);
                     if (response.projectend == null){
                        $scope.endDateProject=response.projectend;
                     }
                     else{
                     $scope.endDateProject= new Date(response.projectend);}
                     //$('#project').modal('hide');
                  }).error(function(error){
                    alert(error);
                  });
      };
      
       var getProjectDetails = function(){
        $http.get("/getProjectDetails")
        .success(function(response){
          if(response.length > 0){
           if(response[0].projectid == 1){
               $scope.projectname =response[0].projectname;
            $scope.startDateProject=new Date( response[0].projectstart);
            if (response[0].projectend == null){
                        $scope.endDateProject=response[0].projectend;
                     }
                     else{
                     $scope.endDateProject= new Date(response[0].projectend);}
           }
           else{
              saveProjectdetail();
           }
          }
          else{
            saveProjectdetail();
          }
  			}).error(function(error){
  				alert(error);
  			});
      };
      
      getProjectDetails(); 
      
      var updateProjectDetails = function(){
         $scope.projectname = "Untitled";
         $scope.startDateProject = new Date();
         $scope.endDateProject = "";
                $http({
                method: 'POST',
                 url: '/updateProjectDetails/' +$scope.tenantid,
                data:{
                "projectname": $scope.projectname,
                "projectstart": $scope.startDateProject,
                "projectend": $scope.endDateProject
                }
                }).success(function(response){
                     $scope.projectname =response.projectname;
                     $scope.startDateProject= new Date(response.projectstart);
                     if (response.projectend == null){
                        $scope.endDateProject=response.projectend;
                     }
                     else{
                     $scope.endDateProject= new Date(response.projectend);}
                     $('#project').modal('hide');
                  }).error(function(error){
                    alert(error);
                  });
      };
      
      $scope.updateproject  = function(){
         var start=new Date ($scope.startDateProject);
        var end=new Date ($scope.endDateProject);
         var today = new Date();
        if (start - today < 0){
          alert('Start date should be future date');
        }
        else if (start - end > 0){
          alert('Finish date cannot be less than start date');
        }
        else{
        $http({
                method: 'POST',
                url: '/updateProjectDetails/' +$scope.tenantid,
                data:{
                "projectname": $scope.projectname,
                "projectstart": $scope.startDateProject,
                "projectend": $scope.endDateProject
                }
                }).success(function(response){
                     $scope.projectname =response.projectname;
                     $scope.startDateProject= new Date(response.projectstart);
                     if (response.projectend == null){
                        $scope.endDateProject=response.projectend;
                     }
                     else{
                     $scope.endDateProject= new Date(response.projectend);}
                     $('#project').modal('hide');
                  }).error(function(error){
                    alert(error);
                  });
        }
      };
      
      
    });
    </script>

  </body>
</html>